# THOSE VALUES ARE EDITABLE ONLY VIA CLI
CLI_CEB_DEV=false
CLI_CEB_FIREFOX=false

# THOSE VALUES ARE EDITABLE
CEB_API_BASE=http://localhost:3000

# Locale for development (optional, empty = system default)
CEB_DEV_LOCALE=
